<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context-2.5.xsd  http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <!--组件扫描，需要添加pom依赖 spring-context -->
    <context:component-scan  base-package="com.alibaba.rabbit.spring" />

    <bean id="userUtils" class="com.alibaba.mq.amqp.utils.UserUtils"/>

    <!--配置连接-->
    <rabbit:connection-factory id="connectionFactory" host="endpoint" port="5672"
                               username="#{userUtils.getUserName('ak',instanceId)}" password="#{userUtils.getPassord('sk')}"  virtual-host="test" requested-heartbeat="60" />

    <!--配置RabbitTemplate-->
    <rabbit:template id="amqpTemplate" connection-factory="connectionFactory"
                     exchange="siyong-test-exchange1" routing-key="foo.bar"/>

    <!--配置RabbitAdmin-->
    <rabbit:admin connection-factory="connectionFactory" />

    <!--配置队列名-->
    <rabbit:queue name="siyong-test-queue" />

    <!--配置topic类型exchange-->
    <rabbit:topic-exchange name="siyong-test-exchange1">
        <rabbit:bindings>
            <rabbit:binding queue="siyong-test-queue" pattern="foo.*" />
        </rabbit:bindings>
    </rabbit:topic-exchange>

    <!--配置监听-->
    <rabbit:listener-container connection-factory="connectionFactory">
        <rabbit:listener ref="foo" method="listen" queue-names="siyong-test-queue" />
    </rabbit:listener-container>

</beans>