<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context-2.5.xsd  http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <!--组件扫描，需要添加pom依赖 spring-context -->
    <context:component-scan  base-package="com.alibaba.rabbit.spring" />

    <!--配置连接-->
    <rabbit:connection-factory id="connectionFactory" host="rabbitmq-xxxxx.mq.amqp.aliyuncs.com" port="5672"
                               username="YOUR-USER-NAME" password="YOUR-PASSWORD"  virtual-host="your-vhost" requested-heartbeat="60" />

    <!--配置RabbitTemplate-->
    <rabbit:template id="amqpTemplate" connection-factory="connectionFactory"
                     exchange="your-exchange" routing-key="your-routing-key"/>

    <!--配置RabbitAdmin-->
    <rabbit:admin connection-factory="connectionFactory" />

    <!--配置队列名-->
    <rabbit:queue name="your-queue" />

    <!--配置direct类型exchange-->
    <rabbit:direct-exchange name="your-exchange">
        <rabbit:bindings>
            <rabbit:binding queue="your-queue" key="your-routing-key" />
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <!--配置监听-->
    <rabbit:listener-container connection-factory="connectionFactory">
        <rabbit:listener ref="messageReceiver" method="listen" queue-names="your-queue" />
    </rabbit:listener-container>

</beans>